@import '../../scss/vars.scss';

.Item {
  width: 75vw !important;
}

.Segment {
  font-size: 1rem !important;
  padding: 0.5rem !important;
  margin: 1rem 0 !important;
  font-family: $font !important
}